@font-face {
    font-family: 'Altone';
    src: url('./fonts/altone.woff') format('woff'),
        url('./fonts/altone.woff2') format('woff2');
}

@font-face {
    font-family: 'Bebas';
    src: url('./fonts/Bebad.woff') format('woff'),
        url('./fonts/Bebas.woff2') format('woff2');
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;

}

body {
    font-family: 'Altone', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AF94E0;
    overflow-x: hidden;
}


.white {
    color: white;
}

header {
    scroll-snap-align: start;
}

.header-title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;

    img {
        height: 80%;
    }

    h1 {
        position: relative;
        font-family: 'Bebas', sans-serif;
        color: #2A114B;
        font-size: 3rem;
        display: flex;
        flex-direction: column;


        span {
            margin: 0;
            padding: 0;
            height: max-content;
        }


    }
}

.white {
    color: white;
}

.bigtitle {
    position: relative;
    top: -50px;
    left: -8px;
    font-size: 15rem;
    text-align: left;
}

.smalltitle {
    letter-spacing: 2px;
}

.presentation {
    margin-top: 150px;
    margin: 0 200px;
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-size: 1.5rem;
        color: white;
    }

    h2 {
        font-family: 'Bebas', sans-serif;
        display: flex;
        flex-direction: column;
        font-size: 6rem;
        color: #2A114B;
        margin: 0;

        .white {
            color: white;
            position: relative;
            top: -25px;
        }
    }
}
/* CODE CSS DU PREMIER GRAPHIQUE */

.section__agression {
    position: relative  ;
}

.section__agression-text {
    margin: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 900px;
    top: 100px;
}

.section__agression-text h1 {
    font-size: 4rem;
    font-family: 'Bebas', sans-serif;
    color: #2A114B;

    .white {
        color: white;
    }
}

.section__agression-text p {
    color: white;
}

.section__agression-info {
    position: absolute;
}

.section__agression-list {
    font-family: 'Bebas', sans-serif;
    color: white;
    font-size: 3rem;
    position: absolute;
    right: 0px;
    margin: 150px;
}

.section__agression-list-age:hover {
    color: #2A114B;
    cursor: pointer;
}

.section__agression-list-ul {
    list-style: none;
}

.section__agression-img img {
    position: absolute;
    top: 50px;
    left: 100px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* === */
.section {
    scroll-snap-align: center;
    height: 100vh;
    width: 100vw;
}

.section:nth-of-type(1) {
    background-color: #967DC4;
}

.section:nth-of-type(2) {
    background-color: #4D2A7B;
}

.section:nth-of-type(3) {
    background-color: #2A114B;
}

/* Code du footer pour une largeur minimum de 1113 pixel */

footer {
    width: 100vw;
    background-color: #110521;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: end;
    font-family: 'Bebas', sans-serif;

}

.footer__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer__container-title {
    padding-left: 100px;
    color: #AF94E0;
}
    .footer__container-credit {
        padding-right: 100px;
    }
    
    .footer__title {
        margin: 0;
    }
    
    .footer__title--name {
        font-size: 10rem;
    }
    
    .footer__title--h2 {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    
    .footer__list {
        margin: 0;
        text-align: right;
    }
    
    .footer__list-component a {
        color: white;
        list-style: none;
        font-size: 2rem;
        transition: all 0.5s ease-in-out;
        text-decoration: none;
    }

    .footer__list-component a:hover {
        color: #AF94E0;
        cursor: pointer;
    }
.footer__title--name {
    position: relative;
    top: -30px;
}

.footer__container-credit {
    padding-right: 100px;
}
.footer__title {
    margin: 0;
    letter-spacing: 2px;
}

HEAD
    .footer__container-modal {
        visibility: hidden;
    }

.footer__title--h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer__list {
    margin: 0;
    text-align: right;
}

.footer__list-component {
    color: white;
    list-style: none;
    font-size: 2rem;
}

.footer__list-component a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

.footer__list-component a:hover {
    color: #AF94E0;
    cursor: pointer;
}

/* Code des pop up pour les mentions légales */

/* .footer__container-modal {
        visibility: hidden;
>>>>>>> 2810b41924e6acb6f5e6256870764e6f7e302d13
        position: absolute;
        background-color: #ebe7f0;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        border-radius: 25px;
        width: 1250px;
        height: 250px;
        z-index: 1;
    }

    .footer__container-modal:target {
        visibility: visible;
    }

    .footer__container-textmodal {
        border: solid 1px black;
        background-color: red   ;
        width: 1220px;
        height: 220px;
        z-index: 10;
    }
