@font-face {
    font-family: 'Altone';
    src: url('./fonts/altone.woff') format('woff'),
        url('./fonts/altone.woff2') format('woff2');
}

@font-face {
    font-family: 'Bebas';
    src: url('./fonts/Bebas.woff') format('woff'),
        url('./fonts/Bebas.woff2') format('woff2');
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;

}

body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AF94E0;
    overflow-x: hidden;
}


.white {
    color: white;
}

header {
    scroll-snap-align: start;
}

.header-title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 50px;

    img {
        height: 80%;
    }

    h1 {
        position: relative;
        font-family: 'Bebas', sans-serif;
        color: #2A114B;
        font-size: 3rem;
        display: flex;
        flex-direction: column;


        span {
            margin: 0;
            padding: 0;
            height: max-content;
        }


    }
}

.white {
    color: white;
}

.bigtitle {
    position: relative;
    top: -50px;
    left: -8px;
    font-size: 15rem;
    text-align: left;
}

.smalltitle {
    letter-spacing: 2px;
}

.presentation {
    margin-top: 150px;
    margin: 0 200px;
    scroll-snap-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        font-size: 1.5rem;
        color: white;
    }

    h2 {
        font-family: 'Bebas', sans-serif;
        display: flex;
        flex-direction: column;
        font-size: 6rem;
        color: #2A114B;
        margin: 0;

        .white {
            color: white;
            position: relative;
            top: -25px;
        }
    }
}

/* CODE CSS DU PREMIER GRAPHIQUE */

.section__agression {
    position: relative;
    width: 100vw;
}

.section__agression-text {
    margin: 0px 200px 0px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 800px;
    top: 100px;
}

.section__agression-text h1 {
    font-size: 4rem;
    font-family: 'Bebas', sans-serif;
    color: #2A114B;

    .white {
        color: white;
    }
}

.section__agression-text p {
    color: white;
}

.section__agression-info {
    position: absolute;
}

.section__agression-list {
    font-family: 'Bebas', sans-serif;
    color: white;
    font-size: 3rem;
    position: absolute;
    right: 0px;
    margin: 150px;
}

.section__agression-list-age:hover {
    color: #2A114B;
    cursor: pointer;
}

.section__agression-list-ul {
    list-style: none;
}

.section__agression-img img {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 480px;
    height: 600px;
}

.section__agression-info {
    position: absolute;
    top: 150px;
}

.section__agression-info h2 {
    font-family: 'Bebas', sans-serif;
    color: #2A114B;
    font-size: 4rem;
    margin-bottom: 0px;
}

.section__agression-info p {
    width: 400px;
}



/* === */
.section {
    scroll-snap-align: center;
    height: 100vh;
    width: 100vw;
}

/* DEUXIEME GRAPHIQUE */
.section_victime {
    position: relative;
    width: 100vw;

    .section__victime-titre {
        margin-left: 100px;
        padding-top: 25px;
        color: #AF94E0;
        font-family: 'Bebas', sans-serif;
        font-size: 2rem;
        letter-spacing: 2px;

        h1 {
            margin: 0px;
        }
    }

    .section__victime-graph-info {
        display: flex;
        padding: 50px;
        height: 85vh;
    }

    .section__victime-graph {
        width: 900px;
        height: 100%;
        min-height: 400px;
    }

    .section__victime-info {
        /* text-align: right; */
        margin-left: 50px;
        margin-right: 70px;

        .section__victime-info-action {
            color: #ffffff;
            font-size: 2.5rem;
            font-family: 'Bebas', sans-serif;

            .purple {
                font-size: 2.5rem;
                color: #AF94E0;
            }

        }
        
        .section__victime-info-texte {
            color: white;
            font-family: 'Montserrat', sans-serif;
            font-size: 1rem;
            line-height: 1.3;
            font-weight: 400;
            text-align: left;
        }

        span {
            font-family: 'Bebas', sans-serif;
            color: #ffffff;
            font-size: 2rem;
        }

        .line1 {
            font-size: 4.375rem;

            span {
                font-size: 4.375rem;
            }
        }

        .line2 {
            font-size: 2.625rem;

            span {
                font-size: 2.625rem;
            }
        }

        .purple {
            color: #AF94E0;
        }
    }
}

/* === */

.section__condamnation {
    position: relative;
    width: 100vw;
}


.section__condamnation-info {
    margin-bottom: 40px;
    margin-left: 90px;
    position: absolute;
    top: 300px;
}

.section__condamnation-info h1 {
    font-size: 4rem;
    font-family: 'Bebas', sans-serif;
    color: #AF94E0;
    margin: 0px;
}

.section__condamnation-info h2 {
    font-size: 2rem;
    font-family: 'Bebas', sans-serif;
    color: #AF94E0;
    margin: 0px;
}

.section__condamnation-info p {
    color: #ffffff;
    font-family: 'Alatsi', sans-serif;
    width: 400px;
}

.section__condamnation-titre {
    font-family: 'Bebas', sans-serif;
    color: #AF94E0;
    position: absolute;
    left: 50px;
    top: 50px;
}

.section__condamnation-titre h1 {
    font-size: 3rem;
    margin: 0px;
  .white {
        color: white;
    }
}

.section__condamnation-titre h2 {
    font-size: 2rem;
    font-family: 'Bebas', sans-serif;
    color: white;
    .white {
        color: white;
    }
}

.section__condamnation-graph {
    width: 941px;
    height: 508px;
}

.section__condamnation-graph canvas {
    position: absolute;
    top: 250px;
    left: 500px;
}

.section__condamnation-button {
    position: relative;
    bottom: 300px;
    padding: 0;
    left: 40px;
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 150px;
}

.section__condamnation button {
    width: 40px; 
    background-color: white;
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__condamnation button:hover {
    scale: 1.15;
}

.section__condamnation button img {
    height: 25px;
    width: 25px;

}


/* Section 4 */
.section__carte {
    position: relative;
    width: 100vw;
    background-color: #160133;

    .section__carte-titre {
        width: fit-content;
        color: white;
        text-transform: uppercase;
        font-family: 'Bebas', sans-serif;
        font-size: 2rem;
        margin: auto;
        padding-top: 25px;
        letter-spacing: 2px;

        h2 {
            margin: 0px;
        }

        .purple {
            color: #AF94E0;
        }
    }

    .section__carte-info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 100px;
        text-align: right;
        color: white;
        font-size: 2rem;
        font-family: 'Bebas', sans-serif;

        h3 {
            font-family: 'Bebas', sans-serif;
            color: #AF94E0;
            font-size: 2.5rem;
            margin: 0px;
        }
    }

    #map {
        position: relative;
        top: -50px;
        height: 100vh;
        width: 700px;
        margin-right: 200px;
        background-color: transparent;
    }

}



.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

/* =============== */

.section:nth-of-type(1) {
    background-color: #967DC4;
}

.section:nth-of-type(2) {
    background-color: #4D2A7B;
}

.section:nth-of-type(3) {
    background-color: #2A114B;
}

/* Code du footer pour une largeur minimum de 1113 pixel */

footer {
    width: 100vw;
    background-color: #110521;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-snap-align: end;
    font-family: 'Bebas', sans-serif;
}

.footer__container {
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer__container-title {
    padding-left: 100px;
    color: #AF94E0;
}

.footer__container-credit {
    padding-right: 100px;
}

.footer__title {
    margin: 0;
}

.footer__title--name {
    font-size: 10rem;
}

.footer__title--h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer__list {
    margin: 0;
    text-align: right;
}

.footer__list-component button {
    color: white;
    list-style: none;
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-family: 'Bebas', sans-serif;
}

.footer__list-component button:hover {
    color: #AF94E0;
    cursor: pointer;
}

.footer__title--name {
    position: relative;
    top: -30px;
}

.footer__container-credit {
    padding-right: 100px;
    margin-left: auto;
}

.footer__title {
    margin: 0;
    letter-spacing: 2px;
}

.footer__container-modal {
    visibility: hidden;
}

.footer__title--h2 {
    margin-top: 50px;
    margin-bottom: 40px;
}

.footer__list {
    margin: 0;
    text-align: right;
}

.footer__list-component {
    color: white;
    list-style: none;
    font-size: 2rem;
}

.footer__list-component a {
    text-decoration: none;
    color: white;
    transition: all 0.5s ease-in-out;
}

.footer__list-component a:hover {
    color: #AF94E0;
    cursor: pointer;
}